body{
	margin:0;
	padding: 0;

}
.contenedor{
	margin: 0;
	padding: 0;

}
.caja{
	width: 200px;
	height: 200px;
	/* desafio 3
	position: absolute;*/

}

#rosa{
	background-color: #EE3E64; 
	position: absolute;
	/*  desafio 3
	left: 0;
	top: 0;*/
}

#azul{
	background-color: #1F2CD4;
	position: relative;
	/* desafio 2
	*/
	left: 450px;
	/* desafio 3
	right: 0;
	*/
	top:200px;
	right: 0;
}

#verde{
	background-color: #22CD2E;
	/* desafio 3
	left: 0;
	bottom: 0;*/

}

#amarillo{
	background-color: #DFDD12;
	/* desafio 3
	right: 0;
	bottom: 0*/
}